TURSO_CONNECTION_URL=libsql://db-673f7039-543b-425d-b692-b4f1b86e971b-orchids.aws-us-west-2.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NTg3NzQ5NzcsImlkIjoiMmJkMTI4NTItODQ1Ny00MzlkLTkyNTgtNTFkZjdmZDBmZjdjIiwicmlkIjoiNjIzYjBlYzMtYzU0NC00YzEzLWI3ODEtZGJkMmM0YjZjNTE5In0.LkfFlBxl0-rVORNT2nxccJvz5Z4JJC-jmQQrzfTmt5NyElR1Zes7o8vZGRR75-4yu0yDI5e320z5UIyumQAHBQ
BETTER_AUTH_SECRET=1GzKuds1dM1Ff4j1pQ14Yj6UUnnxxnhu1GX2S9uR820=